<div class="container">
  <form [formGroup]= "chartForms">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5">
          <label for="UserId">UserID</label>
          <input type="text" class="form-control" formControlName = "targetPeer"> {{targetPeer}}
        </div>
      </div>
      <div class="row">
        <div class="col-wm-5">
          <label for="message">Message</label>
          <textarea class="form-control" aria-label="With textarea" formControlName = "message">
            {{message}}
          </textarea>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" (click)="connect()">Connect</button>
      <button type="submit" class="btn btn-success" (click)="sendMessage()" style="margin-left:5px">Send</button>
    </div>
    <video #myVideo></video>
  </form>
</div>